params {
  inputFilePath = "$baseDir/data/genomicSeqs.fa"
  outputDir = "$launchDir/output"
  outputFile = "output_scanned.txt"
  fastaSubsetSize = 1
}
profiles {
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  lsf {
    includeConfig 'conf/lsf.config'
  }
}