params {
  inputFilePath = "$baseDir/data/Data.fa"
  outputDir = "$launchDir/output"
  outputFileName = "output_scanned.txt"
  outputGFFName = "output_scanned.gff"
  fastaSubsetSize = 1
}
profiles {
  docker {
    includeConfig "$baseDir/conf/docker.config"
  }
  singularity {
    includeConfig "$baseDir/conf/singularity.config"
  }
  lsf {
    includeConfig "$baseDir/conf/lsf.config"
  }
}
